<h1>¡Binvenid@ a Confortlife!</h1>
<p>Aplicación creada con el fin de:</p>
<ul>
  <li> Disminuir la violencia en nuestra sociedad</li>
  <li> Colaborar por un mundo mejor</li>
  <li> Garantizar la anonimidad</li>
</ul>
<p>Justificación:</p>
<ul>
  <p > Debido a los estudios en la sociedad que señala una fuerte tasa de homicidios en la sociedad por temas de desacuerdo con sus conyugues o por las situaciones
      controversiales que se presentan a lo largo de la relación y que se desencadenan en agresiones o atentados contra la vida misma, o su pareja</p>
</ul>
<p>Utilza <code>Anonimidad</code> tanto como lo deseé :)</p>

<img src="/assets/f.jpg" class="rounded mx-auto d-block" alt="...">
